body {
  overflow-x: hidden;
  height: 100vh;
  background-image: url(./assets/bckgrnd.png);
  padding-left: 1em;
  padding-right: 1em;
}

.block {
  background-color: #969696;
  opacity: .7;
  height: 100%;
}

.circle {
  width: 200px;
  border-radius: 100px;
  border-width: 3px;
  border: #2c5fa8;
  border-style: solid;
}

nav>img {
  padding-right: 10px;
}

.full-width {
  margin: 0 -9999rem;
  padding: .25rem 9999rem;
  position: relative;
}

h1,
h2 {
  font-family: 'Montserrat', sans serif;
  color: #333333;
}

p {
  font-family: 'Open Sans';
}

.center {
  text-align: center;
}

.placeholder {
  padding: 1em;
  margin: 10px;
}

header {
  font-family: 'Montserrat', sans serif;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  padding: 10px;
}

footer {
  font-family: 'Montserrat', sans serif;
  color: #FFFFFF;
  border-top: 2px solid #FFFFFF;
  padding: 10px;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body {
    height: 100vh;
    text-align: left;
    padding-left: 4em;
    padding-right: 4em;
  }
  .circle {
    position: absolute;
    top: 330px;
    right: 60px;
    z-index: 2;
  }
  p {
    margin-right: 50%;
  }
  .center {
    text-align: left;
  }
  header.full-width,
  footer.full-width {
    padding: 0;
    margin: 0;
  }
}